/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
   
  }
  
/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $lightWeight;
    min-width: 320px;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {border-bottom: 1px solid $greyColor;}
header {
    display: grid;
    grid-template-columns: 50px auto;
    column-gap: $gutter;
    align-items: center; //vertically
    padding: .5rem $gutter;
    span {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        color: $primaryColor;
    }
    
}
header .phone-number {
    grid-column: 3;
    justify-self: end;
  
}

.phone-number a:hover {
    color: $accentColor;
}
.phone-number a {
    color: $primaryColor;
    text-decoration: none;
    font-weight: $normalWeight;
} 
// end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */

#navWrapper {
    background-color: $primaryColor;
}
nav {
   
    ul{
        padding: 0;
        margin:0 $gutter;
        font-size: 500;
        font-weight: $normalWeight;
        color: $greyColor;
        text-align: center;
    }
    ul li {
        list-style-type: none;
    }
    ul li a {
        color: $greyColor;
        text-decoration: none;
        display: block;
        padding: .8rem $gutter;
    }
    ul li.active a {
        background-color: rgba(255,255,255,0.8);
        color: $primaryColor;
        border-radius: 10px;
    }
    :hover {
        color: $accentColor;
    }
}





/* --------------------------- MAIN --------------------------- */
main {
    h1 {
        padding: 1rem $gutter.5rem $gutter;
        font-size: 1.5rem;
        color: $secondaryColor;
        font-weight: $lightWeight;
    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }
    
}
section {
    display: grid;
    grid-template-columns: 1fr;
}
section div {
    width: 100%;
    padding: 1rem $gutter;

    img {
        width:100%;
        height: auto;
    }
}

section h2 {
    background-color: $secondaryColor;
    color: $greyColor;
    padding: 10px;
    text-align: center;
    font-weight: $normalWeight;
    border-radius: 15px 15px 0 0;
    margin: 0px;
}
section h3 {
    background-color: $secondaryColor;
    color: $greyColor;
    text-align: center;
    margin: 0px;
    padding: 8px;
    border-radius: 0 0 15px 15px;
}
section  :hover h2,
section :hover h3 {
    color: $primaryColor;
    
}
// end main








/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: $greyColor;
    text-align: center;
    line-height: $leading;
    a {color: $greyColor;}
}// end footer