$primaryColor: #448890; 
$secondaryColor: #8F6343;
$accentColor: #D4FBFF;
$greyColor: #C0D8DE;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;